@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
}

/* .main-div {
  width: 100%;
  height: calc(100vh * 3);
  position: relative;
}

.slidebox-1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 0;
}

.child-div {
  height: 100vh;
  width: 1200px;
  padding: 5% 0%;
}


.child-div img {
  height: 100%;
  width: 99%;
}


.slidebox-2 {
  position: fixed;
  right: 5px;
  width: 30px;
  /* height: 100vh; 
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;

  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

#pptid-1 {
  grid-area: 1 / 1 / 2 / 2;
}

#pptid-2 {
  grid-area: 2 / 1 / 3 / 2;
}

#pptid-3 {
  grid-area: 3 / 1 / 4 / 2;
}

#pptid-4 {
  grid-area: 4 / 1 / 5 / 2;
}

#pptid-5 {
  grid-area: 5 / 1 / 6 / 2;
}

#pptid-6 {
  grid-area: 1 / 2 / 2 / 3;
}

#pptid-7 {
  grid-area: 2 / 2 / 3 / 3;
}

#pptid-8 {
  grid-area: 3 / 2 / 4 / 3;
}

#pptid-9 {
  grid-area: 4 / 2 / 5 / 3;
}

#pptid-10 {
  grid-area: 5 / 2 / 6 / 3;
}

.inner-circle {
  height: 25px;
  width: 25px;
  border: 1px solid #000;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.inner-circle:hover {
  color: red;
  border: 1px solid red;
}

.inner-circle:active {
  background: red;
  color: #fff;

}

@media screen and (max-width:1200px) {
  .child-div {
    height: 98vh;
    width: 90vw;
  }
}

@media screen and (max-width:1000px) {
  .child-div {
    height: 78vh;
    width: 95vw;
  }
}

@media screen and (max-width:768px) {
  .child-div {
    height: 55vh;
    width: 98.5vw;
  }
}

@media screen and (max-width:500px) {
  .child-div {
    height: 50vh;
    width: 98.5vw;
  }
} */

/* ######################## Dashboard ############################ */

.all_presentation {
  height: 100%;
  max-width: 90%;
  padding: 30px 10px;
  margin: 2% auto;
}

.all_inner_presentation {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
}


.all_presentation .presentaion_link {
  text-decoration: none;
  color: #000;
  margin: 0px 20px;
}

.presentaion {
  height: 200px;
  width: 250px;
  background-color: #e0e0e0;
  border-radius: 18px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.3s linear;

}

.all_presentation .presentaion .presentaion_title {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.all_presentation .presentaion .presentaion_title .presentaion_title_icon {
  height: 30px;
  width: 75%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.all_presentation .presentaion .presentation_img {
  height: 70%;
  background: #fff;
  width: 100%;
  border-radius: 9px;
}

.all_presentation .presentaion:hover {
  background-color: #cac8c8;
  padding: 9.5px 20px;

}


/* -------------------------- Dashoard -------------------------------------------- */

/* Manage Presentation */

.wrapper {
  min-height: 350px;
  max-width: 80%;
  background-color: aquamarine;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.childDiv {
  padding: 5px 20px;
  width: 100%;
  height: 50px;
  background: #eee;
}

.uuidDiv {
  padding: 5px 20px;
  width: 100%;
  height: 50px;
  background: #eee;
}

.action_td {
  display: flex;
  justify-content: space-around;
}

.image_preview {
  width: 60px;
  height: 100%;
  cursor: pointer;

}

.image_preview img {
  height: 100%;
  width: 100%;
}

.delete_icons {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.delete_icons img {
  height: 100%;
  width: 100%;
}

.action_tr_a {
  display: flex;
  justify-content: space-between;
}

.action_a {
  width: 40%;
  height: 100%;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 19px;
}

/* -------------------------------------- Manage Presentation --------------------------------*/

.managePpt_title {
  max-width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}